<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TestConnection" connectionString="Data Source=DQREST\SQLEXPRESS;          Initial Catalog=test_base;          Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!--
    <add name="GroupAndRelationContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;
         Initial Catalog=GroupAndRelation;
         Integrated Security=SSPI;"
    <add name="GroupContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;          
         Initial Catalog=Group;                    
         Integrated Security=SSPI;" 
         providerName="System.Data.SqlClient" />
    <add name="RelationContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;         
         Initial Catalog=Relation;          
         Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="PropertyContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;          
         Initial Catalog=Property;          
         Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
          -->
    <add name="testdbContext" connectionString="data source=(LocalDB)\MSSQLLocalDB;
         initial catalog=TestDB;
         integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <contexts>
      <!--
        <context type="TestWinApp.Classes.DAL.GroupAndRelationContext, TestWinApp">
          <databaseInitializer type="TestWinApp.Classes.DAL.GroupAndRelationInitializer, TestWinApp" />
        </context>
      <context type="TestWinApp.Classes.DAL.GroupContext, TestWinApp">
        <databaseInitializer type="TestWinApp.Classes.DAL.GroupInitializer, TestWinApp" />
      </context>
      <context type="TestWinApp.Classes.DAL.RelationContext, TestWinApp">
        <databaseInitializer type="TestWinApp.Classes.DAL.RelationInitializer, TestWinApp" />
      </context>
      <context type="TestWinApp.Classes.DAL.PropertyContext, TestWinApp">
        <databaseInitializer type="TestWinApp.Classes.DAL.PropertyInitializer, TestWinApp" />
      </context>
      -->
    </contexts>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>